<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    style="
      font-family: 'Quicksand', sans-serif;
      line-height: 35.88px;
      font-size: 24px;
      font-weight: 500;
      margin: 0;
    "
  >
    <center style="width: 100%; table-layout: fixed; padding: 0">
      <table
        style="
          width: 100%;
          max-width: 600px;
          border-spacing: 0;
          padding-bottom: 44px;
        "
      >
        <!-- header -->
        <tr>
          <td>
            <table style="width: 100%; border-spacing: 0">
              <tr>
                <td
                  align="center"
                  style="background-color: #5a45ff; height: 80px"
                >
                  <a href="<%= siteUrl %>">
                    <img
                      src="<%= serverUrl %>/images/pouchfi-email.svg"
                      style="height: 35px"
                      alt="logo"
                    />
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
